<section class="about-section">
  <div class="container">
    <h2 class="title2 about-section__title">О нас</h2>

    <div class="about-section__container">
      <article class="about-section__item about-item">
        <p class="about-item__desc p2">
          Мы молодая и успешная команда, которая ориентируется
          на потребности клиентов. Мы предоставляем большой
          перечнь услуг по разработке, аренде, поддержке
          и администрированию сайтов. Наша цель сделать
          ваш путь проще и легче. Сотрудничая с нами Вы сразу
          получаете раскрученный сайт по выгодному предложению.
          Вы вносите 20% от стоимости сайта, а остальные платежи
          в течение года, а так же вы можете следить за прогрессом
          разработки сайта и его аналитикой через личный кабинет.
          Мы постоянно продвигаем наши сайты и поддерживаем
          их на первых позициях в топе поисковой выдачи.
        </p>
      </article>
      <div class="about-section__image">
        <picture>
          <source srcset="./img/about-bg-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/about-bg.webp">
          <img src="./img/about-bg.png" srcset="./img/about-bg-2x.png" alt="cover">
        </picture>
      </div>
      <article class="about-section__item about-item">
        <div class="about-item__icon">
          <img src="./img/about-icons/01.png" alt="">
        </div>
        <h3 class="about-item__title">Профессионализм</h3>
        <p class="about-item__desc p2">
          Мы&nbsp;нацелены на&nbsp;результат и&nbsp;на&nbsp;качественную работу
          вашего сайта и&nbsp;всех необходимых систем. Вы&nbsp;можете
          быть уверены, что мы&nbsp;найдем те&nbsp;решения, которые
          будут оптимальны именно для вас, что будут учтены
          важные нюансы, что задачи будут решаться не&nbsp;только
          оперативно, но&nbsp;и&nbsp;гибко.
        </p>
      </article>
      <article class="about-section__item about-item">
        <div class="about-item__icon">
          <img src="./img/about-icons/02.png" alt="">
        </div>
        <h3 class="about-item__title">Выгодные вложения</h3>
        <p class="about-item__desc p2">
          Вы&nbsp;может оплачивать сайт не&nbsp;одиноразово,
          а&nbsp;внести&nbsp;20% оплату, а&nbsp;остальное оплачивать
          частями в&nbsp;течение года. Наша команда весь год
          будет заниматься поддержкой сайта и&nbsp;домена.
          Также при покупке сайта вы&nbsp;получаете скидку&nbsp;10%.
        </p>
      </article>
      <article class="about-section__item about-item">
        <div class="about-item__icon">
          <img src="./img/about-icons/03.png" alt="">
        </div>
        <h3 class="about-item__title">Стабильная работа сайта</h3>
        <p class="about-item__desc p2">
          Постоянный мониторинг и&nbsp;техническое обслуживание
          сайтов позволяет поддерживать стабильную работу,
          без сбоев и&nbsp;потерь клиентов.Мы используем передовые
          технологии и&nbsp;инструменты, чтобы создать
          функциональный и&nbsp;отзывчивый сайт.
        </p>
      </article>
    </div>
  </div>
</section>