<div class="modal" data-modal-login>
  <div class="modal__body">
    <div class="modal__buttons">
      <button class="btn-reset modal__btn active" data-modal-type="login">Авторизация</button>
      <button class="btn-reset modal__btn" data-modal-type="logup">Регистрация</button>
    </div>
    <form class="modal__form form active login-form" data-modal-content="login">
      <label class="form__label">
        <input type="email" class="form__input input-email" placeholder="Email">
      </label>
      <label class="form__label">
        <input type="email" class="form__input input-password" placeholder="Пароль">
      </label>
      <button class="btn-reset btn form__btn">Войти</button>
    </form>
    <form class="modal__form form logup-form" data-modal-content="logup">
      <label class="form__label">
        <input type="text" class="form__input input-name" placeholder="Ваше имя">
      </label>
      <label class="form__label">
        <input type="text" class="form__input input-nikname" placeholder="Никнейм">
      </label>
      <label class="form__label">
        <input type="email" class="form__input input-email" placeholder="Email">
      </label>
      <label class="form__label">
        <i class="form__flag">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2001_2123)">
              <path
                d="M24 18C24 18.7072 23.719 19.3855 23.219 19.8856C22.7189 20.3857 22.0406 20.6666 21.3333 20.6666H2.66667C1.95942 20.6666 1.28115 20.3857 0.781049 19.8856C0.280952 19.3855 0 18.7072 0 18V15.3333H24V18Z"
                fill="#CE2028" />
              <path d="M0 8.66669H24V15.3334H0V8.66669Z" fill="#22408C" />
              <path
                d="M21.3333 3.33331H2.66667C1.95942 3.33331 1.28115 3.61426 0.781049 4.11436C0.280952 4.61446 0 5.29274 0 5.99998L0 8.66665H24V5.99998C24 5.29274 23.719 4.61446 23.219 4.11436C22.7189 3.61426 22.0406 3.33331 21.3333 3.33331Z"
                fill="#EEEEEE" />
            </g>
            <defs>
              <clipPath id="clip0_2001_2123">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </i>
        <input type="tel" class="form__input input-tel" placeholder="+7 (999) 999-99-99 ">
      </label>

      <button class="btn-reset btn form__btn">Зарегистрироваться</button>
    </form>
  </div>
</div>