<section class="work" id="cases">
  <div class="container">
    <h2 class="title2 work__title">Наши работы</h2>

    <div class="work__container">
      <div class="work__item">
        <picture>
          <source srcset="./img/work/01-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/work/01.webp">
          <img src="./img/work/01.jpg" srcset="./img/work/01-2x.jpg 2x" alt="">
        </picture>
      </div>
      <div class="work__item">
        <picture>
          <source srcset="./img/work/02-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/work/02.webp">
          <img src="./img/work/02.jpg" srcset="./img/work/02-2x.jpg 2x" alt="">
        </picture>
      </div>
      <div class="work__item">
        <picture>
          <source srcset="./img/work/03-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/work/03.webp">
          <img src="./img/work/03.jpg" srcset="./img/work/03-2x.jpg 2x" alt="">
        </picture>
      </div>
      <div class="work__item">
        <picture>
          <source srcset="./img/work/04-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/work/04.webp">
          <img src="./img/work/04.jpg" srcset="./img/work/04-2x.jpg 2x" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>